
h1 {
    color: burlywood;
    font-family: Arial;
    font-size: 50px;
}

h2{
    font-family: Arial;
    font-size: 26px;
}

h3 {
    font-family: Arial;
    font-size: 15px;
}
h4 {
    font-family: Arial;
    font-size: 15px
}
